.header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background: #F5F5F5;
  font-family: 'Kanit', sans-serif;
}

.header .hero .hero-content {
  display: flex;
  align-items: center;
  padding-top: 120px;
}

.header .hero .hero-content .header-text {
  padding-top: 100px;
}