.display-4 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.explore {
    color: #333333;
    border: 1px solid #333333;
    border-radius: 3px;
    padding: 12px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.explore:hover {
    color: #ffffff;
    border: 1px solid #4c4c4c;
    background-color: #4c4c4c;
    border-radius: 3px;
    padding: 12px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif
}

.jumbotron {
    color: #000000;
    position: relative;
    background: url("/static/assets/DSCF0533.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.container {
    margin-top: 80px;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

.skill {
    padding-top: 50px;
}

#sub-title {
    font-size: 20px;
}

.row .about-text {
    font-size: 15px;
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}

#text {
    font-size: 15px;
}

#hr-sub {
    width: 100px;
    border: 1px solid;
}

.social-area a {
    color: #1A1A1A;
    display: inline-block;
    border: 1px dashed transparent;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
    margin-right: 10px;
    transition: .4s;
    font-size: 18px;
}

.social-area a:hover {
    outline: none;
    text-decoration: none;
    border: 1px dashed #1a1a1a;
}

.footer-icon a {
    color: #ffffff;
    display: inline-block;
    border: 1px dashed transparent;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50px;
    margin-right: 10px;
    transition: .4s;
    font-size: 18px;
}

.footer-icon a:hover {
    outline: none;
    text-decoration: none;
    border: 1px dashed #ffffff;
}

#experience-desc-text {
    font-size: 14px;
}

#myWork {
    width: 80%;
}