.header .navbar {
  background-color: #FFFFFF;
  height: 70px;
}

.header .navbar-light .navbar-nav .active>.nav-link {
  color: #000000;
  padding-left: 50px;
  font-weight: 300;
  font-size: 16px;
}

.header .navbar-light .navbar-nav .active>.nav-link:hover {
  color: #E74A74;
}