/* HEADER SECTION */
.header {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-image: url('../assets/DSCF0533.JPG');
  font-family: 'Oxygen', sans-serif;
}

.header img {
  width: 100%;
  height: 100vh;
}

.navbar-light .navbar-nav .active>.nav-link {
  color: #000000;
  padding-left: 50px;
  font-weight: 300;
}

.navbar-light .navbar-nav .active>.nav-link:hover {
  color: #BF214B;
}

.header-text {
  font-family: 'Oxygen', sans-serif;
  color: #000000;
  margin-top: 250px;
}

.btn-hire-me {
  background-color: #BF214B;
  padding: 12px 50px 12px;
  border-radius: 50px;
}

.btn-hire-me:hover {
  cursor: pointer;
  background-color: #CD3961;
  text-decoration: none;
}

.icon-sosmed a {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: white;
  font-size: 28px;
  text-decoration: none;
  width: 10px;
  color: #333333;
}

.icon-sosmed a:hover {
color: #BF214B;
}

body {
  overflow-x: hidden;
}

.hi {
  font-size: 46px;
  font-weight: 300;
}

.name {
  font-size: 74px;
  font-weight: 500;
}

.profession {
  font-size: 18px;
  font-weight: 300;
  color: #404040;
  margin-bottom: 50px;
}
/* END OF HEADER SECTION */

/* ABOUT ME SECTION */
.container .about-me {
  margin-top: 150px;
}

.about-text-title p {
  margin-bottom: 0;
  font-size: 14px;
  font-family: 'Oxygen', sans-serif;
}

.about-text-title h3 {
  font-size: 36px;
  font-family: 'Oxygen', sans-serif;
  font-weight: 700;
}

.about-text-title #about-red-text {
  color: #BF214B;
}

.about-image {
  width: 100%;
  overflow: hidden;
  text-align: right;
}

.about-image img {
  width: 80%;
}

.about-me p {
  font-size: 14px;
  font-family: 'Oxygen', sans-serif;
}
/* END OF ABOUT SECTION */

/* ACTIVITIES SECTION */
.activities {
  margin-top: 130px;
}

.activities p {
  margin-bottom: 0;
  font-size: 14px;
}

.activities h3 {
  font-weight: 700;
  font-size: 36px;
  font-family: 'Oxygen', sans-serif;
}

.activities-title #activities-red-text {
  color: #BF214B;
}

.activities-card .card {
  padding: 30px 20px 80px;
  margin: 50px 0px 100px;
  box-shadow: 2px 2px 8px #aaaaaa;
}
/* END OF ACTIVITIES SECTION */

/* SKILL SECTION */
.my-skills-section {
  background-color: #000000;
}

.my-skill-title {
  color: #FFFFFF;
  font-family: 'Oxygen', sans-serif;
}

.my-skill-title h3 {
  font-weight: 700;
}

.my-skills-section {
  padding: 80px 0px 80px;
}

.my-skill-title p {
  font-size: 14px;
  margin-bottom: 0;
}

.my-skill-title #skill-red-text {
  color: #BF214B;
}

.my-skills-section .skill-description {
  color: #FFFFFF;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
  font-size: 14px;
  padding-top: 20px;
  line-height: 1.8em;
}

.progress {
  border-radius: 20px;
  height: 13px;
  margin-bottom: 30px;
}

.progress .progress-bar {
  background-color: #BF214B;
  text-align: right;
  padding-right: 10px;
  font-weight: 500;
}

.skill-javascript p {
  margin-bottom: 0;
  padding-bottom: 5px;
  font-size: 14px;
  color: #FFFFFF;
  font-family: 'Oxygen', sans-serif;
}

.skill-reactjs p {
  margin-bottom: 0;
  padding-bottom: 5px;
  font-size: 14px;
  color: #FFFFFF;
  font-family: 'Oxygen', sans-serif;
}

.skill-rn p {
  margin-bottom: 0;
  padding-bottom: 5px;
  font-size: 14px;
  color: #FFFFFF;
  font-family: 'Oxygen', sans-serif;
}

.skill-wordpress p {
  margin-bottom: 0;
  padding-bottom: 5px;
  font-size: 14px;
  color: #FFFFFF;
  font-family: 'Oxygen', sans-serif;
}

.skill-figma p {
  margin-bottom: 0;
  padding-bottom: 5px;
  font-size: 14px;
  color: #FFFFFF;
  font-family: 'Oxygen', sans-serif;
}
/* END OF SKILL SECTION */

/* MY EXPERIENCE SECTION */
.experience-section {
  margin: 100px 0px 100px;
}

.experience-title {
  padding-bottom: 60px;
}

.container .experience-title {
  text-align: center;
}

.experience-title p {
  margin-bottom: 0;
  font-size: 14px;
  font-family: 'Oxygen', sans-serif;
}

.experience-title h3 {
  font-size: 36px;
  font-weight: 700;
}

.experience-title #experience-red-text {
  color: #BF214B;
}

#experience-time {
  font-size: 24px;
  font-weight: 700;
}

.experience-section .row {
  font-family: 'Oxygen', sans-serif;
}

.row #experience-title {
  font-size: 24px;
  font-weight: 700;
}

.row #experience-sub-title {
  font-size: 18px;
}

.row #experience-institution {
  font-size: 12px;
  font-weight: bold;
}

.row #experience-description {
  font-size: 14px;
}
/* END OF MY EXPERIENCE SECTION */

/* PORTFOLIO SECTION */
.portfolio-section {
  margin: 100px 0px 100px;
  font-family: 'Oxygen', sans-serif;
}

.portfolio-title {
  text-align: center;
  padding-bottom: 60px;
}

.portfolio-title p {
  margin-bottom: 0;
  font-size: 14px;
}

.portfolio-title h3 {
  font-size: 36px;
  font-weight: 700;
}

.portfolio-title #portfolio-red-text {
  color: #BF214B;
}

.portfolio-section .nav .nav-link {
  color: #000000;
  font-size: 15px;
}
/* END OF PORTFOLIO SECTION */

/* TESTIMONY SECTION */
.testimony-section {
  background-color: #BF214B;
  padding: 80px 0px 100px;
  font-family: 'Oxygen', sans-serif;
  color: #FFFFFF
}

.testimony-section .row p {
  font-size: 14px;
  margin-bottom: 0;
}

.testimony-section .row h3 {
  font-size: 36px;
  font-weight: 700;
}

.testimony-section .row #testimony-text {
  font-size: 16px;
  font-weight: 300;
  line-height: 2.2em;
}

.testimony-section .row #customer-name {
  font-size: 20px;
  font-weight: bold;
}

.testimony-section .row #customer-name {
  font-size: 18px;
  font-weight: bold;
}
.testimony-section .row #customer-institution {
  font-size: 12px;
  font-weight: 300;
}
/* END OF TESTIMONY SECTION */

/* BLOG SECTION */
.blog-section {
  padding: 100px 0px 100px;
  font-family: 'Oxygen', sans-serif;
}

.blog-section .blog-title {
  text-align: center;
  padding-bottom: 60px;
}

.blog-section .blog-title p {
  margin-bottom: 0;
}

.blog-section .blog-title #blog-red-text {
  color: #BF214B;
}

.blog-section a {
  color: #BF214B;
}

.blog-section #meta {
  color: #BF214B;
  font-size: 13px;
  font-weight: bold;
}

.blog-section h3 {
  padding-top: 8px;
  font-weight: bold;
  font-size: 24px;
}
/* END OF BLOG SECTION */

/* FOOTER SECTION */
footer {
  background-color: #222222;
  padding: 50px 50px;
}

footer p {
  color: #FFFFFF;
  font-size: 13px;
  font-family: 'Oxygen', sans-serif;
}

footer a {
  color: #FFFFFF;
}

footer a:hover {
  color: #CCCCCC;
  text-decoration: none;
}
/* END OF FOOTER SECTION */